@model Announcements
@using HMS.Utilities

@{
    ViewData["Title"] = "Add Announcement";
    Layout = "_AdminLayout";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">Add Announcement</li>
    </ol>

    <!-- Body -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add Announcement</h6>
        </div>
        <div class="card-body">

            <div class="form-group">
                <div class="col-md-8">
                    <form asp-action="AddAnnouncement" method="post" id="patient" class="mt-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group form-floating mb-3">
                            <textarea asp-for="Announcement" class="form-control" placeholder="Announcement" style="height: 100px"></textarea>
                            <label asp-for="Announcement"></label>
                            <span asp-validation-for="Announcement" class="text-danger"></span>
                        </div>

                        <div class="form-group form-floating mb-3">
                            <div>
                                <select asp-for="For"
                                        asp-items="@DropDowns.GetAnnouncementForDropDown()" class="form-select" aria-label="Select Recepient">
                                    <option selected>Select Recipient</option>
                                </select>
                                <span asp-validation-for="For" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group form-floating mb-3">
                            <input type="date" asp-for="End" class="form-control" />
                            <label asp-for="End"></label>
                            <span asp-validation-for="End" class="text-danger"></span>
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <input type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}

