<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Login</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Sweet Alert -->
    <link type="text/css" href="~/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

    <!-- Notyf -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

    <!-- Volt CSS -->
    <link type="text/css" href="~/css/volt.css" rel="stylesheet">
    
    <style>
        body
        {
            background-image:url('/assets/img/illustrations/signin.svg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center; 
            background-size: 60% 60%
        }
    </style>
</head>
<body>
    <header>
    </header>
   
        <main >
            @RenderBody()
        </main>
   
    <!-- Core -->
    <script src="~/vendor/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Vendor JS -->
    <script src="~/vendor/onscreen/dist/on-screen.umd.min.js"></script>

    <!-- Slider -->
    <script src="~/vendor/nouislider/dist/nouislider.min.js"></script>

    <!-- Smooth scroll -->
    <script src="~/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

    <!-- Volt JS -->
    <script src="~/assets/js/volt.js"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>