<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Login</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Sweet Alert -->
    <link type="text/css" href="~/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

    <!-- Notyf -->
    <link type="text/css" href="~/vendor/notyf/notyf.min.css" rel="stylesheet">

    <!-- Volt CSS -->
    <link type="text/css" href="~/css/volt.css" rel="stylesheet">
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Core -->
    <script src="~/vendor/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Vendor JS -->
    <script src="~/vendor/onscreen/dist/on-screen.umd.min.js"></script>

    <!-- Slider -->
    <script src="~/vendor/nouislider/dist/nouislider.min.js"></script>

    <!-- Smooth scroll -->
    <script src="~/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

    <!-- Volt JS -->
    <script src="~/assets/js/volt.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>