<div class="modal fade" id="patientModal" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="patientDetails" autocomplete="off" novalidate="novalidate">
                <div class="modal-header">
                    <h2 class="modal-title">Confirm Patient Details</h2>
                    <button type="button" class="close" onclick="onCloseModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="patientDetails">
                    <div class="form-group">
                        <label for="patientId">Patient ID</label>
                        <input type="text" maxlength="100" class="form-control" disabled id="pId" />
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" maxlength="100" class="form-control" disabled id="name" />
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="text" maxlength="100" class="form-control" disabled id="age" />
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="text" maxlength="100" class="form-control" disabled id="phone" />
                    </div>
                    <input type="hidden" id="id" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="onCloseModal()">Close</button> &nbsp;
                        <button type="button" id="btnSend" class="btn btn-primary" onclick="onBtnSend">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>