<div class="modal fade" id="vitalsModal" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="patientVitals" autocomplete="off" novalidate="novalidate">
                <div class="modal-header">
                    <h2 class="modal-title">Add Patient Vitals</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="patientId">Patient ID</label>
                        <input type="text" maxlength="100" class="form-control" disabled id="patientId" />
                    </div>
                    <div class="form-group">
                        <label for="temp">Temperature</label>
                        <input type="number" maxlength="100" class="form-control" id="temp" />
                    </div>
                    <div class="form-group">
                        <label for="bp">Blood Pressure</label>
                        <input type="text" maxlength="100" class="form-control" id="bp" />
                    </div>
                    <div class="form-group">
                        <label for="weight">Weight (Kg)</label>
                        <input type="number" maxlength="100" class="form-control" id="weight" />
                    </div>
                    <div class="form-group">
                        <label for="date">Reporting Date</label>
                        <input class="form-control" disabled id="date" />
                    </div>
                    <input type="hidden" id="id" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="onCloseModalV()">Close</button> &nbsp;
                        <button type="button" class="btn btn-primary" onclick="onBtnSave()">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Confirm -->
<div class="modal fade" id="confirmSendVitals" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Send Vitals</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Would you like to assign this patient a doctor?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button class="btn btn-primary" onclick="assignDocModal()">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Assign Patient -->
<div class="modal fade" id="assignDocModal" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title">Assign Patient To Doctor</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group form-floating mb-3">
                    <div>
                        <select id="doclist" asp-items="@(new SelectList(ViewBag.DocList, "Id", "Name"))" class="form-select" aria-label="Select Doctor">
                            <option selected>Select Doctor</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button> &nbsp;
                    <button type="button" id="btnSend" class="btn btn-primary" onclick="assignDoc()">Send</button>
                </div>
            </div>

        </div>
    </div>
</div>