@model HMS.Models.ViewModels.ChangePasswordVm
@{
    ViewData["Title"] = "Change Password";
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
</head>
<body>
    <main>
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Page Heading -->
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Change Password</li>
            </ol>

            <!-- Body -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <div class="col-md-8">
                            <form asp-action="ChangePassword" method="post" id="changePassword" class="mt-4">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group form-floating mb-3">
                                    <input asp-for="CurrentPassword" class="form-control" placeholder="Current Password" />
                                    <label asp-for="CurrentPassword"></label>
                                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group form-floating mb-3">
                                    <input asp-for="NewPassword" class="form-control" placeholder="New Password"/>
                                    <label asp-for="NewPassword"></label>
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                    <label asp-for="ConfirmPassword"></label>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <input type="submit" value="Update" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>
        </div>
    </main>
</body>
</html>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}