@using HMS.Utilities
@model HMS.Models.ViewModels.PatientVm

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Patient Details</title>
</head>
<body>
    <main>
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Page Heading -->
            <ol class="breadcrumb mb-4">
                @if (User.IsInRole(UserRoles.Receptionist))
                {
                    <li class="breadcrumb-item"><a asp-controller="Receptionist" asp-action="Index">Dashboard</a></li>
                }
                else
                {
                    <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
                }
                <li class="breadcrumb-item"><a asp-controller="Patient" asp-action="Index">Patients</a></li>
                <li class="breadcrumb-item active">Edit Patient Details</li>
            </ol>

            <!-- Body -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Edit Patient Details</h6>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <div class="col-md-8">
                            <form asp-action="Edit" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input hidden asp-for="Patients.Id" />

                                <div class="form-group form-floating mb-3">
                                    <input asp-for="Patients.PatientId" class="form-control" placeholder="Patient Id" />
                                    <label asp-for="Patients.PatientId"></label>
                                    <span asp-validation-for="Patients.PatientId" class="text-danger"></span>
                                </div>

                                <div class="form-group form-floating mb-3">
                                    <input asp-for="Patients.Nhis" class="form-control" placeholder="NHIS Id" />
                                    <label asp-for="Patients.Nhis"></label>
                                    <span asp-validation-for="Patients.Nhis" class="text-danger"></span>
                                </div>

                                <div class="form-group form-floating mb-3">
                                    <input asp-for="Patients.Name" class="form-control" placeholder="Name" />
                                    <label asp-for="Patients.Name"></label>
                                    <span asp-validation-for="Patients.Name" class="text-danger"></span>
                                </div>

                                <div class="form-group form-floating mb-3">
                                    <input type="date" asp-for="Patients.Dob" class="form-control" />
                                    <label asp-for="Patients.Dob"></label>
                                    <span asp-validation-for="Patients.Dob" class="text-danger"></span>
                                </div>

                                <div class="form-group form-floating mb-3">
                                    <input asp-for="Patients.Age" class="form-control" placeholder="Age" />
                                    <label asp-for="Patients.Age"></label>
                                    <span asp-validation-for="Patients.Age" class="text-danger"></span>
                                </div>

                                <div class="form-group form-floating mb-3">
                                    <div>
                                        <select asp-for="Patients.Gender"
                                                asp-items="@DropDowns.GetGenderDropDown()" class="form-select" aria-label="Select Gender">
                                            <option selected>Select Gender</option>
                                        </select>
                                        <span asp-validation-for="Patients.Gender" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group form-floating mb-3">
                                    <input asp-for="Patients.Contact" class="form-control" placeholder="Contact" />
                                    <label asp-for="Patients.Contact"></label>
                                    <span asp-validation-for="Patients.Contact" class="text-danger"></span>
                                </div>

                                <div class="form-group form-floating mb-3">
                                    <input asp-for="Patients.Email" class="form-control" placeholder="Contact" />
                                    <label asp-for="Patients.Email"></label>
                                    <span asp-validation-for="Patients.Email" class="text-danger"></span>
                                </div>

                                <div class="form-group form-floating mb-3">
                                    <input asp-for="Patients.Address" class="form-control" placeholder="Address" />
                                    <label asp-for="Patients.Address"></label>
                                    <span asp-validation-for="Patients.Address" class="text-danger"></span>
                                </div>

                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>

            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>
        </div>
    </main>
</body>
</html>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}